<footer class="main-footer">
    <ul class="main-footer__social-list">
        {# TODO: Add Social Icons + Links #}
        <li><a href="Twitter">Twitter</a></li>
        <li><a href="Youtube">Youtube</a></li>
        <li><a href="Medium">Medium</a></li>
        <li><a href="Email">Email</a></li>
        <li><a href="LinkedIn">LinkedIn</a></li>
    </ul>
    <p>Copyright © {% currentYear %} Eman Harout</p>
</footer>