<header>
    <h1 class="logo"><a class="logo-link" href="/">EMAN HAROUT</a></h1>
    <nav class="main-nav">
        <ul class="nav-list">
            <li id="nav-home-item" class="nav-list-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li id="nav-blog-item" class="nav-list-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li id="nav-resources-item" class="nav-list-item">
                <a class="nav-link" href="/resources">Resources</a>
            </li>
            <li id="nav-contact-item" class="nav-list-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>