---
layout: template-parts/base.njk
---

<article class="article-container">
    {# <figure> #}
        {# <img src="{{ image }}" alt="{{ imageAlt }}" class="featured-image"> #}
        {# <figcaption>{{ imageAlt }}</figcaption> #}
    {# </figure> #}
    <h1> {{ title }} </h1>
    {{ content | safe }}
</article>