---
layout: template-parts/base.njk
---

<article>
    <figure class="featured-image">
        <img src="{{ image }}" alt="{{ imageAlt }}">
        <figcaption>{{ imageAlt }}</figcaption>
    </figure>
    <h1> {{ title }} </h1>
    {{ content | safe }}
</article