@import "foundation.css";

/* ### Header, Body, Footer Layout */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.page-content {
   /* 1. Content will vertically grow to fill browser viewport height */
   /* 2. Content will not vertically shrink below content size */
   /* Shorthand: flex: 1 0 auto; */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

/* Remove top margin of section immediately below nav */
.page-content section:first-child {
  margin-top: 0;
}

/* Remove bottom margin of section immediately above footer */
.page-content section:last-child {
  margin-bottom: 0;
}

/* Select text range that is highlighted upon mouse click and drag */
.primary-color-bg-5 ::selection {
  color: var(--contrast-text-from-color-color);
  background: var(--secondary-color-7);
}

::-moz-selection {
  color: var(--contrast-text-from-color-color);
  background: var(--secondary-color-7);
}

.main-footer {
  background-color: var(--primary-color-5);

  /* Prevent footer from shrinking below content size */
  flex-shrink: 0;
  margin-top: 1rem;
  padding: 2rem var(--outer-horizontal-padding);
}

.main-footer p {
  color: var(--contrast-text-from-color-color);

  text-align: center;
}

.main-footer .main-footer__social-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  /* Remove browser default */
  padding-inline-start: 0;
  justify-content: center;
}

.main-footer__social-list a {
  color: var(--fg-light);
  text-decoration: none;
}

.main-footer__social-list i {
	color: var(--fg-light);
}

.main-footer__social-list:hover, .main-footer__social-list:focus {
  text-decoration: none;
}

.main-footer__social-list i:hover, .main-footer__social-list i:focus {
  color: var(--secondary-color-9);
  transition: all 0.2s ease-in-out;
}

.main-footer__social-list i:active {
  filter: brightness(85%);
  transition: all 0.05s ease-in-out;
}

/* ## SITE HEADER */

/* ### Navigation */
.logo {
  font-family: var(--site-main-nav-font);
  font-weight: 500;
  letter-spacing: 1px;

  margin-block-start: 0;
  margin-block-end: 0;
  margin: 1rem var(--outer-horizontal-margin);
  padding: 16px 0px 2px;
  text-align: center;
}

.logo-link {
  color: var(--font-color);
}

.logo-link::after {
  /* Disable underline animation applied to a:hover::after from appearing */
  content: none;
}

.logo-link:hover, .logo-link:focus {
  color: var(--font-color);
}

.main-nav .nav-list {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  margin: 1rem var(--outer-horizontal-margin);
  padding: 0;
}

.main-nav .nav-list-item {
  border-radius: 12px;
}

.main-nav .nav-link {
  font-family: var(--site-main-nav-font);
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 1.5;
  color: var(--font-color);
  
  display: inline-block;
  padding-inline-start: 0px;
  /* padding: 0.35rem; TODO: Move to higher screen size? */
}

@media only screen and (min-width: 480px) {
  .main-nav .nav-list {
    flex-direction: row;
    justify-content: center;
  }

  .main-nav .nav-list-item {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
  }
}

/* ## SITE BODY */
/* ### About Me */
.primary-color-bg-5 {
  background-color: var(--primary-color-5);
}

.about-me__content-container {
  /* background-color: var(--primary-color-5); */
  
  /* display: flex; */
  display: grid;
  /* grid-auto-flow: row; */
  /* grid-auto-rows: 1fr; */
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  gap: 1.5rem;
  padding: 2rem var(--outer-horizontal-padding);
  /* margin: 1.5rem auto; */
}

.about-me__intro {
  text-align: center;
}

.about-me .section-title-small,
.about-me p {
  color: var(--contrast-text-from-color-color);
}

.about-me__intro, .about-me__body {
  max-width: 500px;
}

.about-me__intro .section-title-small {
  /* text-wrap: wrap; */
  letter-spacing: 1px;
  font-size: 2.5rem;
}

@media only screen and (min-width: 769px) {
  .about-me__content-container {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, fr);
    /* grid-auto-columns: repeat(2, fr); */
    /* justify-content: stretch; */
    /* flex-direction: row; */
    align-items: start;
    /* max-width: 100ch; */
  }

  .about-me .section-title-small {
    text-align: right;
    text-wrap: balance;
  }

  .about-me__intro, .about-me__body {
    max-width: 540px;
  }
}

/* ### Article */
.article-container, .center {
  margin: 0 auto;
  width: min(var(--article-text-width), 100vw);
}

.article-container > * {
  word-wrap: break-word;
  /* 
  white-space causes an issue with code blocks where line breaks are ignored.
  Removing this does not seem to break anything, but if it does, then reintroduce and override the property in code blocks with !important
   */
  /* white-space: normal; */

  margin-left: var(--outer-horizontal-margin);
  margin-right: var(--outer-horizontal-margin);
  max-width: var(--article-text-width);
}

.article-container img {
  max-width: 100%;
  margin: 1rem auto;
}

.article-container h1,
.article-container h2,
.article-container h3,
.article-container h4,
.article-container h5,
.article-container h6 {
  margin-top: 2.5rem;
  margin-bottom: 1.15rem;
}

.article-container p:last-child {
  margin-bottom: 1rem;
}

/* Article Collection */

.blog-collection {
  margin: 1.5rem var(--outer-horizontal-margin);
}

.blog-collection__header {
  margin: 0 var(--outer-horizontal-margin);
}

.latest-articles-header {
  text-align: center;

  margin: 0rem 0rem 2.5rem;
}

.card-title-link {
  color: var(--font-color)
}

.card-title-link::after {
  /* Disable underline animation applied to a:hover::after from appearing */
  content: none;
}

.blog-collection__list {
  list-style: none;

  display: grid;
  row-gap: var(--article-collection-row-gap);
  column-gap: var(--article-collection-column-gap);
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  /* Remove browser-added padding */
  padding-inline-start: 0px;
}

.blog-collection__list__card {
  background-color: var(--article-card-bg-1);
  border-radius: 8px;
  outline: 1px solid var(--grey-9);
  box-shadow: 0px 3px 10px var(--grey-9);
  
  padding: 20px 18px;
  max-width: 620px;
}

@media only screen and (min-width: 769px) {
  .blog-collection__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-collection__list li {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1100px) {
  .blog-collection__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1350px) {
  .blog-collection__list {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1750px;
  }
}

.blog-collection__list__card .card-title {
  font-size: 1.4rem;
  letter-spacing: 0.6px;
  line-height: 1.25;
}

.blog-collection__list__card .card-metadata {
  color: var(--font-color-secondary);
}

/* PAGINATION */
.pagination {
  width: fit-content;
  margin: 0 auto;
}

.pagination ol {
  list-style-type: none;
  border-radius: 4px;
  background-color: var(--bg-1);
  box-shadow: 0px 1px 4px rgb(205, 205, 205);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
  padding: 4px 0px;
}

.pagination__item {
  /* Add spacing between items */
  margin: 0px 22px;
}

.pagination__item + .pagination__item {
  /* Collapse margins of every item that follows an item. This prevents duplicate horizontal margins. */
  margin-left: 0px;
}

.pagination button {
  background-color: var(--bg-1);
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  /* Increase button tap area */
  padding: 2px 0px;
}

.pagination img {
  max-height: 30px;
}

.pagination__current-page-number {
  color: var(--grey-10);
  background-color: var(--primary-color-5);
  border-radius: 4px;

  padding: 2px 12px;
}
