@import "foundation.css";

/* ### Header, Body, Footer Layout */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
   /* 1. Content will vertically grow to fill space */
   /* 2. Content will not vertically shrink below content size */
   /* Shorthand: flex: 1 0 auto; */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

/* Remove top margin of section immediately below nav */
.content section:first-child {
  margin-top: 0;
}

/* Remove bottom margin of section immediately above footer */
.content section:last-child {
  margin-bottom: 0;
}

.main-footer {
  background-color: var(--primary-color-5);

  /* Prevent footer from shrinking below content size */
  flex-shrink: 0;
  margin-top: 1rem;
  padding: 2rem var(--outer-horizontal-padding);
}
/* ### END: Header, Body, Footer Layout */

.main-footer p {
  color: white;

  text-align: center;
}

.main-footer .main-footer__social-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  justify-content: center;
}

.main-footer__social-list a {
  color: white;
  text-decoration: none;

  padding: 0.75rem;
}

.main-footer__social-list:hover, .main-footer__social-list:focus {
  text-decoration: none;
}

/* ## SITE HEADER */
/* ### Navigation */
.logo {
  font-family: var(--site-main-nav-font);
  font-weight: 500;
  letter-spacing: 1px;

  margin-block-start: 0;
  margin-block-end: 0;
  margin: 1rem var(--outer-horizontal-margin);
  padding: 16px 0px 2px;
  text-align: center;
}

.logo a {
  text-decoration: none;
  color: var(--font-color);
}

.main-nav ul {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  margin: 1rem var(--outer-horizontal-margin);
  padding: 0;
}

@media only screen and (min-width: 480px) {
  .main-nav ul {
    flex-direction: row;
    justify-content: center;
  }
}

.main-nav li {
  border-radius: 12px;
}

@media only screen and (min-width: 480px) {
  .main-nav li {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.main-nav a {
  font-family: var(--site-main-nav-font);
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 1.5;
  color: var(--font-color);
  
  display: inline-block;
  padding-inline-start: 0px;
  /* padding: 0.35rem; TODO: Move to higher screen size? */
}

.main-nav a:hover, .main-nav a:focus {
  color: var(--primary-color-5);
}

/* ## SITE BODY */
/* ### About Me */
.about-me {
  background-color: var(--primary-color-5);
  color: var(--grey-10);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem var(--outer-horizontal-padding);
  margin: 1.5rem 0;
}

@media only screen and (min-width: 769px) {
  .about-me {
    flex-direction: row;
    align-items: start;
  }
}

.about-me__intro {
  text-align: center;
}

@media only screen and (min-width: 769px) {
  .about-me__intro {
    text-align: right;
  }
}

.about-me__intro h2 {
  letter-spacing: 1px;
}

.section-title-small {
  font-size: 2.5rem;
}

/* ### Article */
.article-container, .center {
  margin: 0 auto;
  width: min(var(--article-text-width), 100vw);
}

.article-container > * {
  word-wrap: break-word;
  /* 
  white-space causes an issue with code blocks where line breaks are ignored.
  Removing this does not seem to break anything, but if it does, then reintroduce and override the property in code blocks with !important
   */
  /* white-space: normal; */

  margin-left: var(--outer-horizontal-margin);
  margin-right: var(--outer-horizontal-margin);
  max-width: var(--article-text-width);
}

.article-container img {
  max-width: 100%;
  margin: 1rem auto;
}

.article-container h1,
.article-container h2,
.article-container h3,
.article-container h4,
.article-container h5,
.article-container h6 {
  margin-top: 2.5rem;
  margin-bottom: 1.15rem;
}

.article-container p:last-child {
  margin-bottom: 1rem;
}

/* Article Collection */
.blog-collection {
  margin: 1.5rem 0;
}

.blog-collection__header {
  margin: 0 var(--outer-horizontal-margin);
}

.blog-collection__list {
  list-style: none;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin: 0 var(--outer-horizontal-margin);
  padding: 0;
}

.blog-collection__list li {
  background-color: var(--primary-color-10);
  border-radius: 12px;
  
  padding: 12px var(--outer-horizontal-padding);
  width: 100%;
  max-width: 620px;
}

.blog-collection__list h3 {
  font-size: 1.4rem;
}

/* PAGINATION */
.pagination {
  width: fit-content;
  margin: 0 auto;
}

.pagination ol {
  list-style-type: none;
  border-radius: 4px;
  background-color: var(--bg-1);
  box-shadow: 0px 1px 4px rgb(205, 205, 205);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem var(--outer-horizontal-margin);
  padding: 4px 14px;
}

.pagination p {
  color: var(--grey-10);
  background-color: var(--primary-color-5);
  border-radius: 4px;

  padding: 2px 12px;
  /*
      The whitespace on the right side of the left arrow icon is greater than the right arrow icon's left side whitespace.
      As a result, we add less margin on the left side to compensate for the extra whitespace.
   */
  margin-left: 13px;
  margin-right: 16px;
}

.svg-button {
  background-color: var(--bg-1);
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  padding: 2px 2px;
  margin: 0 0px;
}

.pagination-icon {
  width: 24px;
}

#pagination__double-right-arrow-button {
  /*
  Adds whitespace between right arrow and double-right arrow.

  The whitespace around arrow images is inconsistent (e.g. left arrow may have more or less whitespace on its left side vs right arrow's left side)
  So I manually adjust the space between these arrow images. If I ever need to change them, just compare the pixels between them via CMD + Shift + 4.
  */
  margin-left: 6px;
}

pre code {
  /* display: block removes indentation issue  where first line in code block looks indented */
  display: block; 
  /* 
  white-space changes issue where line breaks were ignored in code blocks
  commented out because its not needed unless I reintroduce the first two properties (currently commented out) in 
  .article-container * { ... } (word-wrap and white-space) << this always overrides white-space here, so mark !important
   */
    /* white-space: pre !important; */
}