---
title: Blog
layout: template-parts/base.njk
pagination:
    data: collections.post
    size: 12
    alias: posts
    reverse: true
---

<section class="blog-collection">
    <header class="blog-collection__header">
        <h1>Eman's Blog!</h1>
    </header>
    <ul class="blog-collection__list">
        {# frontmatter `alias: posts` converted 'collections.post' var to simply 'posts' #}
        {# Used to be: {%- for post in collection.posts | reverse -%} but now we reverse in frontmatter #}
        {%- for post in posts -%}
            {% include 'article-collection-item.njk' %}
        {%- endfor -%}
    </ul>

    {% if pagination.pages.length > 1 %}
    <div class="pagination">
        <ol>
        {% if pagination.href.previous  %}
            <li class="pagination__item">
                <button>
                    <a href="{{ pagination.href.previous }}">
                        <img src="/assets/interface/pagination__arrow-left-1.png" alt="previous-page-arrow"/>
                    </a>
                </button>
            </li>
        {% endif %}
        {% if pagination.href.previous and pagination.href.previous %}
            <li class="pagination__item">
                <p class="pagination__current-page-number">{{ pagination.pageNumber }}</p>
            </li>
        {% endif %}
        {# {%- for page in pagination.pages %}
            {% if loop.index0 < pagination.pageNumber %}
                <li>
                    <a href="{{ pagination.hrefs[loop.index0] }}">{{ loop.index }}</a>
                </li>
            {% endif %}
                        {% if pagination.pageNumber < loop.index0 %}
                <li>
                    <a href="{{ pagination.hrefs[loop.index0] }}">{{ loop.index }}</a>
                </li>
            {% endif %}
        {%- endfor %} #}
        {% if pagination.href.next %}
            <li class="pagination__item">
                <button>
                    <a href="{{ pagination.href.next }}">
                        <img src="/assets/interface/pagination__arrow-right-1.png" alt="next-page-arrow"/>
                    </a>
                </button>
            </li>
        {% endif %}
        {% if pagination.pageNumber + 1 < pagination.pages.length - 1 %}
            <li class="pagination__item">
                <button>
                    <a href="{{ pagination.href.last }}">
                        <img src="/assets/interface/pagination__arrow-button-right-1.png" alt="last-page-arrow"/>
                    </a>
                </button>
                {# <a href="{{ pagination.href.last }}">{{ pagination.pages.length - 1 }} (Last Page)</a> #}
            </li>
        {% endif %}
        </ol>
    </div>
    {% endif %}
</section>