---
title: Blog
layout: template-parts/base.njk
---

<section class="blog">
    <header class="blog-collection__header">
        <h1>Eman's Blog</h1>
    </header>
    <ul class="blog-collection__list">
        {%- for post in collections.post | reverse -%}
             {% include 'article-collection-item.njk' %}
        {%- endfor -%}
    </ul>
</section>