---
title: Home
layout: template-parts/base.njk
---

<section class="about-me primary-color-bg-5">
    <section class="about-me__content-container">
        <header class="about-me__intro">
            <h2 class="section-title-small">Hello, my name is Eman!</h2>
        </header>
        <div class="about-me__body">
            <p>I'm a programmer dedicated to crafting clean, robust code. My love for learning led me to this path.</p>
            <p>But my love for learning goes far beyond programming. This site is my platform for sharing insights gained by my curiosity—of both the Arts and Sciences. I embrace my generalist tendencies, contrary to prevailing wisdom that pushes specialization. I'm excited to live in a time where the whole of human knowledge is unleashed by the internet. I intend to enjoy it and trust it will yield positive real-world impact.</p>
        </div>
    </section>
</section>

<section class="blog-collection"> {# TODO: Add section class name #}
    <header class="blog-collection__header">
        <h2 class="latest-articles-header">Latest Articles</h2>
    </header>
    <ul class="blog-collection__list">
        {%- for post in collections.post.slice(-12) | reverse -%}
            {% include 'article-collection-item.njk' %}
        {%- endfor -%}
    </ul>
</section>

