---
title: Home
layout: template-parts/base.njk
---

<h1>Home</h1>

<ul class="blog-list">
    {%- for post in collections.post | reverse -%}
         {% include 'article-collection-item.njk' %}
    {%- endfor -%}
</ul>